.add-button {
  margin-top: 10px;
  width: 100%;
  border: none;
  background: #50a9f7;
  padding: 10px;
  color: #fff;
  border-radius: 8px;
  transition: all 0.3s linear;
}

.add-button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s linear;
}

.add-button_disabled {
  background: rgba(239, 239, 239, 0.3);
  color: rgba(16, 16, 16, 0.3);
}

.add-button_disabled:hover {
  cursor: not-allowed;
  opacity: 1;
}

.add-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid grey;
}

.add-input:focus {
  outline: none;
  border: 1px solid #50a9f7;
}
